celeba/*
div2k/*
flickr2k/*
SR_Training_Datasets/*
SR_Testing_Datasets/*
temp_images/*
temp_faces/*
SRCNN_tst_outputs/*
helen/*
afad/*
celeba-hq/*
!celeba-hq/data_splits/
Chokepoint/*
flickr_maltese_number_plates/*
sr_raw_text*
realsr_text*
SRRAW_text*
realsr*
BSDS100_Urban100_Div2k100*
mixed_data/*
encoder_testing_dataset/*